.progressBar {
    --bar-bg: rgb(163, 163, 163);
    --seek-before-width: 0;
    --seek-before-color: rgb(0, 184, 186);
    --knobby: white;
    --selectedKnobby: #26c9c3;

    /* appearance: none; */
    background: #99f6e4;
    border-radius: 10px;
    position: relative;
    width: auto;
    height: 11px;
    outline: none;
}
